.base-container{
    width: 100%;
    display : flex;
    flex-direction : column;
    align-items: center;
}
.header {
    font-size: 24px;
    font-family: sans-serif;
}
.content{
    display: flex;
    flex-direction: column;
}
.image{
    width: 21rem; 
}
.img {
    width: 100%;
    height : 100%;

}
.form{
    margin-top: 2rem;
    display : flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    }
    .label{
        font-size: 20px;
    }
    .input{
        margin-top: 6px;
        min-width: 18rem;
        height: 37px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: sans-serif;
        background-color: #f3f3f3;
        border: o;
        border-radius: 4px;
        margin-bottom: 31px;
        transition: all 250 ease-in-out;
        -moz-user-focus: initial;     
}
.footer{
    margin-top: 3rem;
}